[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Forgethson
	email = 649343453@qq.com
[core]
    excludesfile = C:/Users/Forgethson/git.ignore
